<%= provide(:title, @user.username) %>
  <div class="row">
    <div class="col-md-12">
      <h1><%= @user.username %></h1>
      <p><%= @user.username %> has been a member for __ days.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Profile</h2>
      <p><%= @user.profile.about %></p>
    </div>
    <div class="cold-md-8">
      <h1>Reviews Submitted:</h1>
    </div>
  </div>